.ddheader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E3E5EE;
}

.ddlabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
}